

a 	{
    text-decoration:none;
	font-weight:bold;
    color:#175e88;
 	}

a:hover {
	text-decoration:none;
	font-weight:bold;
	color:#FF8C00;
		}

p {
    text-align: justify;
   }

.p1 {
      padding-left:5px;
      padding-right:20px;
      display: block;
     }

.titre1 {
  padding-top:15px; 
  padding-bottom:15px;
  text-align:center; 
          }  

.titre2 {
	color:#3ba2de;
	font-weight:bold;
		}

.titre3 {
	color:#3ba2de;
	font-style: italic;
		}


.buttonInstructions.bis {
  margin-left:-5px;	
  padding-bottom:10px;
  margin-bottom:20px;
  text-align:justify;
                            }



#loginIcon {
  cursor: pointer;
}
