[submodule "uicore"]
	path = uicore
	url = git@bitbucket.org:iridl/uicore.git
[submodule "maproomtools"]
	path = maproomtools
	url = git@bitbucket.org:iridl/maproomtools.git
[submodule "pure"]
	path = pure
	url = git@bitbucket.org:iridl/pure.git
[submodule "miconf"]
	path = miconf
	url = git@bitbucket.org:iridl/miconf.git
