.ui-tabs-nav { position: relative; }
.ui-tabs-nav:after {
display: block;
position: absolute; right: 5px; bottom: 5px ; height: 25px;
	content: url(ifad_big.png);
}

@media only all and (max-width: 850px) {
.ui-tabs-nav:after {
display: block;
position: absolute; right: 0px; top: 0px;
        padding-right: 2px;
        padding-bottom: 2px;
	content: url(ifad_small.jpg);
}
}

@media only all and (max-width: 479px) {
 .controlBar::after, .controlBar:after{
display: inline;
content: url(ifad_small.jpg);
visibility: visible;
 }
}