.ui-tabs-nav { position: relative; }
.ui-tabs-nav:after {
display: block;
position: absolute; right: 5px; bottom: 10px ; height: 25px;
	content: url(iriwh36.png) " " url(noaaleft_36pxhgt.jpg) " " url(MAINE_crest_4c-36pxhgt.jpg);
}

@media only all and (max-width: 850px) {
.ui-tabs-nav:after {
display: block;
position: absolute; right: 0px; top: 0px;
        padding-right: 2px;
        padding-bottom: 2px;
	content: url(iriwh36.png) " " url(noaaleft_36pxhgt.jpg) " " url(MAINE_crest_4c-36pxhgt.jpg);
}
}

@media only all and (max-width: 479px) {
 .controlBar::after, .controlBar:after{
display: inline;
content: url(iriwh36.png) " " url(noaaleft_36pxhgt.jpg) " " url(MAINE_crest_4c-36pxhgt.jpg);
visibility: visible;
 }
}
