#startdiv {
float: right; position: relative; top: -7px; width: 225px; height: 21px
} 
#starticon {
position: absolute; left: 0px; top: 0px;
	border: 1px;
        border-style: outset;
	border-color: LightGrey;
        padding-right: 2px;
        padding-bottom: 1px;
        background: white;
}
#startdiv:before {
	content: url(start_network_logo_99_42.png);
}
@media only all and (max-width: 850px) {
#startdiv {
top: -7px;
width: 40px;
} 
#startdiv:before {
	content: url(start_network_logo_49_21.png);
}
#starticon {
clip: rect(0px,49px,21px,0px);
position: absolute; left: 0px; top: 0px;
        padding-right: 2px;
        padding-bottom: 2px;
        background: white;
}
}

@media only all and (max-width: 479px) {
#startdiv {
top: 0px;
width: 18px;
height: 12px;
} 
#starticon {
clip: rect(0px,20px,12px,0px);
height: 12px;
position: absolute; left: 0px; top: 0px;
        padding-right: 2px;
        padding-bottom: 2px;
        background: white;
}
.controlBar::before, .controlBar:before{
display: inline;
float: right;
content: url(start_network_logo_49_21.png);
visibility: visible;
height: 12px;
width: 20px;
padding-right: 12pt;
padding-top: 4pt;
 }
}
